@import '../node_modules/c3/src/scss/main';
@import '../src/lib/leaflet';

.popily-box {
  
}


.popily-title {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  &-variable {
    font-weight: bold;
  }
}

.popily-chart {
  font-family: sans-serif;
  
  .unit {
    cursor: pointer;
    fill: #333;
    stroke: #000;
    stroke-width: .4px;
  }
  .legend-bg {
    fill: #fff;
    fill-opacity: .8;
  }
  .legend-bar {
    stroke: #222;
    stroke-width: 1px;
  }
  .unit {
    stroke: #555;
    stroke-opacity: .3;
    opacity: .8;
    fill: #ccc;
  }
  .unit.active {
    stroke-opacity: .9;
    stroke-width: 3;
    transition: 300ms;
    opacity: 1;
  }
  .background {
    fill: none;
    pointer-events: all;
  }

  text {
    fill: #333;
    font-size: 12px;
  }

  &.hide-legend .legend {
    display: None;
  }

  .legend-color:hover {
    cursor:pointer;
    opacity: 1;
  }
  .legend-color {
    opacity: .8;
    transition: 300ms;
  }
  path.leaflet-clickable {
    transition: 300ms;
  }
  .category-legend {
    margin-bottom: 12px;
    margin-top: 12px;
    div {
      display: inline-block;
      font-size: 12px;
      margin-left: 10px;
    }
  }

  .legend-color {
    opacity: .8;
    transition: 300ms;
    span {
      background-color: #2475B0;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }
  }

}




.popily-tooltip {
  background-color: #fff;
  padding: 0px 12px 10px 12px;
  font-size: 14px;
  border: 1px solid #eee;
  h3 {
    font-weight: normal;
    margin-top: 0px;
    border-bottom: 1px solid #ddd;
    margin-left: -12px; 
    padding-left: 12px;
    padding-right: 12px;
    margin-right: -12px;
    font-size: 16px;
    padding-bottom: 4px;
    background: #efefef;
    padding-top: 6px;
    span {
      display: inline-block;
      height: 12px;
      width: 12px;
      margin-right: 5px;
    }
  }
}
